<div class="container main-container">
    <div id="site_search">
      <input type="text" id="local-search-input" name="q" results="0" placeholder="搜索关键字..." class="form-control"/>
      <div id="local-search-result"></div>
    </div>
</div>